$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// @TODO move this to use some bootstrappy elements instead of hard size.
#graph {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
