$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body, #view, #container, #main-row, #control-column, #graph-column {
  height: 100%;
}

#graph {
  height: 100%;
  width: 100%;
}
