<div id="main-row" class="row">
  <div id="graph-column" class="col-md-8 bg-success">
    <!-- @TODO make this a controller -->
    <div id="graph"></div>
  </div>
  <div id="control-column" class="col-md-4 bg-info">
    <!-- @TODO make this a controller -->
    <div class="row">
      <div class="col-md-12">
        <h3>Control Panel</h3>
        <p>Click on nodes or edges to display data below:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <pre>{{ activeElementData }}</pre>
      </div>
    </div>
  </div>
</div>
